.title {
	font-family: "Georgia";
	font-size: 40px;
	text-align: center;
	color: black;
}

body {
	background-color: #cccccc;
}

p {
	font-family: "Georgia";
	font-size: 15px;
	color: black;
	text-align: center;
	line-height: 1.5;
	letter-spacing: 2px;
	text-indent: 30px;
}

a {
	font-family: "Georgia";
	font-size: 15px;
	color: black;
	text-align: center;
	line-height: 2;
	
}

a:link {
	text-decoration: none;
}

/* unvisited link */

a:link {
	color: black;
}

a:visited  {
	color: black;
}

a:hover {
	color: white;
}

ul {
	font-family: "Georgia";
	font-size: 15px;
	color: black;
	line-height: 2;
	text-align: center;
	list-style-position: inside;
}

#game {
	text-align: center;
	list-style-type: none;
}
